@import "tailwindcss";

:root {
  --foreground: #171717;
}

body {
  background: url(../assets/bookBack.png) no-repeat center center fixed; /* Center the image and fix it in place */
  background-size: cover; /* Ensures the image covers the entire background */
  color: var(--foreground);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-padding-top: 100px;
}